body{
    background-color:white;
    width: 98vw;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-gap: 5px;
    grid-column: 1fr 3fr 0.5fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr 0.5fr;
    grid-template-areas: 
    "header header header header"
    "main main sidebar sidebar"
    "main main sidebar sidebar"
    "main main sidebar sidebar "
    "main main sidebar sidebar"
    ;
}

.header1{
    grid-area: header;
    background-color: lightgrey;
    
}

.main1{
    height: 100vh;
    grid-area: main;
    background-color:lightgrey
    
}
.sidebar1{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: sidebar;
    background-color: lightgrey;
    font-size: 25px;

}
a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:hover{
    text-decoration: underline black ;
}

/* .footer1{
    grid-area: footer;
    background-color: lightgrey;
} */
h1{
    text-align: left;
}
label{
    margin-bottom: 10px;
    display: block;
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin: 15px;
}
input{
    width: 250px;
    height: 30px;
}
.box1{
    width: 37%;
    height: 40%;
    float: left;
}
.box2{
    height: 37%;
    width: 40%;
    float: left;
}
#visa{
    color: blue;
    font-size: 30px;
}
#master{
    color:white;
    background-color: red;
    font-size: 30px;
}
#paypal{
    color: violet;
    background-color: wheat;
    font-size: 30px;
}

#card1{
    width: 50%;
    float: left;
}
#card2{
    width: 50%;
    float: left;
}
.box3{
    
    height: 10px;
    width: 50%;
    color: rgb(9, 10, 9);
    margin-top: 600px;
    font-size: 25px;
    font-weight: 600;
    
    
    
    
}
.box4{
    height: 10px;
    width: 50%;
    color: blue;
    margin: 50px;
    margin-top: 2px;

}
button{
    color: white;
    background-color: rgb(2, 2, 2);
    margin-left: 800px;
    width: 400px;
    height: 50px;
    font-size: 15px;
}
button:hover{
    color: black;
    background-color: white;
}
#input2{
    width: 40px;
    margin-top: 70x;
}